@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 780px) {
  header {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 44px;
  }
  header img {
    float: left;
    width: 24px;
    height: 24px;
    margin: 10px 0px 10px 16px;
  }
  header input {
    display: none;
  }
  header input:checked ~ ul {
    max-height: 224px;
  }
  header input:checked ~ label {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header input:checked ~ label .one {
    background-color: transparent;
  }
  header input:checked ~ label .three {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -4px;
  }
  header label {
    float: right;
    margin: 15px 19px 15px 0px;
    cursor: pointer;
  }
  header label span {
    position: relative;
    display: block;
    width: 18px;
    height: 2px;
    margin: 2px;
    background-color: #060A24;
  }
  header ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    clear: both;
    -webkit-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    background-color: #0000EC;
  }
  header ul li a {
    display: block;
    text-decoration: none;
    padding: 16px 0px 8px 16px;
    line-height: 28px;
    font-family: "IBM Plex Mono", monospace;
    color: #ffffff;
    font-style: 16px;
    cursor: pointer;
  }
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 303px;
    color: #060A24;
  }
  .page-header h1 {
    margin: 29px 0px 16px 16px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    line-height: 42px;
  }
  .page-header h1 .line {
    text-decoration: line-through;
  }
  .page-header p {
    margin: 0px 16px 36px 16px;
    width: auto;
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    font-family: "IBM Plex Mono", monospace;
  }
  .page-header p .desktop {
    display: none;
  }
  .page-header a {
    text-decoration: none;
  }
  .page-header a div {
    background-color: #00F3BB;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: #060A24;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    line-height: 22px;
    width: 288px;
    height: 48px;
    margin: 0px 16px 24px 16px;
  }
  .page-header a div:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    color: #ffffff;
  }
  .episodes {
    width: 100%;
    height: 1203px;
    display: inline-block;
    margin-top: 24px;
  }
  .episodes .background {
    -webkit-transform: skew(0deg, -5deg);
            transform: skew(0deg, -5deg);
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1203px;
  }
  .episodes h2 {
    position: relative;
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
    font-size: 36px;
    width: 157px;
    height: 42px;
    line-height: 42px;
    padding: 64px 147px 21px 16px;
  }
  .episodes .iframes {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .episodes .iframes iframe {
    width: 298px;
    height: 232px;
    padding: 11px;
    margin: auto;
  }
  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .phone img {
    position: relative;
    width: 360px;
    height: 519px;
    top: -40px;
  }
  .phone h2 {
    width: 288px;
    height: 84px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    margin: auto;
  }
  .phone p {
    width: auto;
    height: 254px;
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
    font-size: 14px;
    line-height: 22px;
    padding: 11px;
  }
  .guests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guests h2 {
    width: 288px;
    height: 84px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    margin: 54px 16px 14px 16px;
  }
  .guests img {
    display: block;
    width: 100%;
    height: auto;
  }
  .topics {
    width: 100%;
    height: 980px;
    position: relative;
    display: block;
  }
  .topics h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    width: 288px;
    height: 84px;
    margin: 48px 16px 37px 16px;
  }
  .topics .icons {
    display: block;
    text-align: center;
  }
  .topics .icons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .topics .icons div h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 49px;
  }
  .topics .icons div img {
    margin-bottom: 13px;
  }
  .news {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    width: 100%;
    height: 341px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news h4 {
    width: 288px;
    height: 126px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 64px auto 0px auto;
  }
  .news a {
    text-decoration: none;
  }
  .news a div {
    background-color: #00F3BB;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: #060A24;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 288px;
    height: 48px;
    margin: 36px auto 67px auto;
    font-size: 16px;
    line-height: 22px;
  }
  .news a div:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    color: #ffffff;
  }
  footer {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer p {
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
    text-align: center;
    margin: auto;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  footer div a i {
    padding: 18px;
    line-height: 28px;
    color: #060A24;
  }
}

@media screen and (min-width: 781px) {
  header {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header img {
    width: 36px;
    height: 36px;
    margin: 22px 0px 22px 100px;
  }
  header input {
    display: none;
  }
  header ul {
    float: right;
    margin-right: 100px;
    margin: 26px 100px 26px 0px;
  }
  header ul li {
    display: inline;
    list-style-type: none;
  }
  header ul li a {
    width: 87px;
    height: 28px;
    padding-left: 48px;
    text-decoration: none;
    color: #060A24;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    line-height: 28px;
  }
  header ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  header ul li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .page-header {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 200px;
    width: 100%;
    height: 369px;
  }
  .page-header h1 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 64px;
    line-height: 84px;
    padding-top: 120px;
  }
  .page-header h1 .line {
    text-decoration: line-through;
  }
  .page-header h1 .dot {
    color: #0000EC;
  }
  .page-header h1 br {
    display: none;
  }
  .page-header p {
    width: 628px;
    height: 48px;
    color: #060A24;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    line-height: 24px;
  }
  .page-header p .mobile {
    display: none;
  }
  .page-header p .content::after {
    content: " y la tecnología";
  }
  .page-header a {
    text-decoration: none;
  }
  .page-header a div {
    background-color: #00F3BB;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: #060A24;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    line-height: 24px;
    width: 226px;
    height: 56px;
    margin-top: 56px;
  }
  .page-header a div:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    color: #ffffff;
  }
  .episodes {
    position: relative;
    width: 100%;
    height: 1042.6px;
    margin-top: 100px;
  }
  .episodes .background {
    -webkit-transform: skew(0deg, -5deg);
            transform: skew(0deg, -5deg);
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 960px;
  }
  .episodes h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    line-height: 62px;
    color: #ffffff;
    padding: 106px 0px 26px 200px;
  }
  .episodes .iframes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 72px;
  }
  .episodes .iframes iframe {
    width: 584px;
    height: 232px;
    margin: auto;
  }
  .phone {
    width: 100%;
    height: 480px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .phone img {
    width: 457.6px;
    height: 660px;
    margin: -180px 62px 64px 200px;
  }
  .phone .text {
    position: relative;
  }
  .phone .text h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    line-height: 62px;
    color: #060A24;
    width: 399px;
    height: 62px;
    padding-bottom: 24px;
  }
  .phone .text p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    line-height: 24px;
    color: #060A24;
    width: 464px;
    height: 204px;
  }
  .guests {
    width: 100%;
    height: 890px;
  }
  .guests h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    line-height: 62px;
    width: 481px;
    height: 62px;
    color: #060A24;
    padding: 64px 0px 36px 200px;
  }
  .guests .img {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .guests .img img {
    width: 100%;
    height: 364px;
  }
  .topics {
    width: 100%;
    height: 426px;
  }
  .topics h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    line-height: 62px;
    width: 586px;
    height: 62px;
    color: #060A24;
    padding: 64px 0px 69px 200px;
  }
  .topics .icons {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 200px;
  }
  .topics .icons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .topics .icons div img {
    width: 104px;
    height: 104px;
  }
  .topics .icons div h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #060A24;
    width: 220px;
    padding-top: 29px;
  }
  .news {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    width: 100%;
    height: 518px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
  }
  .news h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #ffffff;
  }
  .news a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 36px;
  }
  .news a div {
    background-color: #00F3BB;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: #060A24;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    line-height: 24px;
    width: 345px;
    height: 56px;
  }
  .news a div:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    color: #ffffff;
  }
  footer {
    width: 100%;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    line-height: 28px;
    color: #060A24;
    margin: 36px 0px 31px 100px;
  }
  footer div {
    margin: 36px 100px 31px 0px;
  }
  footer div a {
    color: #060A24;
  }
  footer div a i {
    padding-left: 36px;
  }
}
/*# sourceMappingURL=styles.css.map */